---
import { Image } from "astro:assets";
const { category } = Astro.props;
---

<div
  class="p-4 rounded-xl flex flex-col justify-center items-center border border-black/30 hover:bg-black hover:text-[#EBBC2A] duration-300 transition-all ease-linear"
>
  <figure class="">
    <a
      href={`/categorias/${category.slug}`}
      class="flex flex-col justify-between items-stretch h-full"
    >
      <div>
        <Image
          width="500"
          height="500"
          decoding="async"
          loading="lazy"
          src={category.image?.sourceUrl ||
            "https://fabrinsaperu.com/wp-content/uploads/2023/08/Diseno-sin-titulo-37.jpg"}
          alt={category.image?.altText || "Default alt text"}
          class="rounded-lg"
        />
      </div>

      <div class="flex flex-col justify-center items-center">
        <h3 class="text-xl font-medium uppercase">
          {category.name}
        </h3>
      </div>
    </a>
  </figure>
</div>
