---
interface Props {
  regularPrice?: string;
  salePrice?: string;
}

const { regularPrice, salePrice } = Astro.props;
---

<div>
  {
    regularPrice && (
      <p class="oswald font-light text-normal/50">
        <span class="oswald text-red-400">Antes: </span>S/ {regularPrice}
      </p>
    )
  }
  {
    salePrice ? (
      <p class="text-2xl oswald font-medium">S/ {salePrice}</p>
    ) : (
      <p class="text-xl oswald font-normal">Precio no Disponible</p>
    )
  }
</div>

