---
import Layout from "../../layouts/Layout.astro";
import ProductCard from "../../components/Cards/Products/ProductCard.astro";
import { client } from "../../utils/apollo";
import { ALL_PRODUCTS_QUERY } from "../../graphql/queries";

// Ejecutamos la query con Apollo Client
const { data: productData } = await client.query({
  query: ALL_PRODUCTS_QUERY,
});

// Extraemos los datos de los resultados
let products = productData?.products?.nodes || [];
---

<Layout
  title="Productos Fabrinsa"
  keywords="tienda de cajas fuertes, tiendas de cajas de seguridad"
>
  <div class="my-12">
    <div class="container mx-auto px-4 lg:px-0">
      <h1 class="text-center text-4xl">Productos Fabrinsa</h1>
      <div class="grid grid-cols-2 lg:grid-cols-4 my-12 gap-4">
        {
          products.length > 0 ? (
            products.map((product: any) => <ProductCard product={product} />)
          ) : (
            <p>No products available.</p>
          )
        }
      </div>
    </div>
  </div>
</Layout>
