---
import Layout from "../layouts/Layout.astro";
import GridServices from "../components/Services/GridServices.astro";
---

<Layout
  title="Servicio Farbrinsa"
  keywords="apertura de cajas fuertes. reparacion de cajas fuertes"
>
  <section class="bg-black text-black w-full h-full">
    <GridServices />
  </section>
</Layout>
