---
import { Image } from "astro:assets";

import Visa from "../../../public/metodos-de-pago/visa.svg";
import Mastercard from "../../../public/metodos-de-pago/mastercard.svg";
import Amex from "../../../public/metodos-de-pago/amex.svg";
import Diners from "../../../public/metodos-de-pago/diners.svg";
import Plin from "../../../public/metodos-de-pago/plin.svg";
import Yape from "../../../public/metodos-de-pago/yape.svg";
import { GiTakeMyMoney, GiHandTruck, GiBugleCall } from "react-icons/gi";

import ProductSaleCarousel from "../Carousels/Carousel/ProductSale";
import TooltipProduct from "../Globals/TooltipProduct.astro";
import GeneralCtaProps from "../Globals/Buttons/GeneralCtaProps.astro";

// Definimos un array con los métodos de pago y sus nombres
const paymentMethods = [
  { src: Visa, alt: "Visa" },
  { src: Mastercard, alt: "Mastercard" },
  { src: Amex, alt: "American Express" },
  { src: Diners, alt: "Diners Club" },
  { src: Plin, alt: "Plin" },
  { src: Yape, alt: "Yape" },
];
---

<section class="bg-black w-full h-auto text-white py-12">
  <div class="container mx-auto flex flex-col gap-6">
    <div class="flex lg:flex-row flex-col gap-6">
      <div class="w-full lg:w-2/5 flex flex-col px-4 lg:px-0">
        <div>
          <div class="flex flex-col">
            <span
              class="py-1 my-5 bg-[#EBBC2A] text-black font-bold px-4 rounded-full w-fit"
              >Envíos a Todo Lima y Nivel Nacional</span
            >
            <h2 class="text-5xl lg:text-6xl font-black uppercase text-left">
              Las mejores ofertas <br />
              en <span class="text-[#EBBC2A]">cajas fuertes</span>
              <br />
              solo las tiene <br />
              <span class="text-[#EBBC2A]">fabrinsa</span> Perú
            </h2>
          </div>
          <div class="flex flex-col my-8 gap-5">
            <div class="flex lg:flex-row flex-col gap-4">
              <div>
                <GiTakeMyMoney className="text-5xl" />
              </div>
              <div>
                <h3 class="text-xl">Paga como prefieres</h3>
                <p class="text-gray-400">
                  Aceptamos todos estos métodos de pago:
                </p>
                <div
                  class="w=full flex flex-row items-center gap-2 mt-1 bg-gray-500/10 backdrop-blur-sm rounded-md px-3"
                >
                  {
                    paymentMethods.map((method) => (
                      <Image
                        src={method.src}
                        alt={method.alt}
                        width={50}
                        height={50}
                        class="object-contain w-10 h-10 lg:w-12 lg:h-12"
                      />
                    ))
                  }
                </div>
              </div>
            </div>
            <div class="flex lg:flex-row flex-col gap-4">
              <div>
                <GiHandTruck className="text-5xl" />
              </div>
              <div>
                <h3 class="text-xl">Envío GRATIS a todo Lima.</h3>
                <p class="text-gray-400">
                  Gratis puesto en agencia embalado o en en Lima Metropolitana.
                </p>
              </div>
            </div>
            <div>
              <div class="flex lg:flex-row flex-col gap-4">
                <div>
                  <GiBugleCall className="text-5xl" />
                </div>
                <div>
                  <h3 class="text-xl">Atención y Asesoría 24 horas</h3>
                  <p class="text-gray-400">
                    Nuestro equipo está listo para ayudarte en cualquier
                    momento. <br /> ¡No esperes más para proteger lo que más importa
                    con las mejores opciones y el apoyo que necesitas! 🔒💬
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="w-full lg:w-3/5 flex flex-col lg:flex-row gap-6 px-4 lg:px-0">
        <div class="w-full lg:w-2/4 bg-[#EBBC2A] rounded-xl">
          <ProductSaleCarousel client:visible />
        </div>
        <div
          class="w-full lg:w-2/4 h-full flex flex-col items-center justify-between bg-white rounded-xl p-4"
        >
          <div class="flex flex-col justify-center items-center">
            <Image
              width="400"
              height="400"
              decoding="async"
              loading="lazy"
              src="/chapa.png"
              alt="chapa"
            />
            <Image
              width="400"
              height="400"
              decoding="async"
              loading="lazy"
              src="/cerraduradigital.png"
              alt="cerradura-digital"
            />
          </div>
          <div class="flex flex-col gap-3 text-black">
            <div>
              <h2 class="text-xl font-semibold oswald">
                LIQUIDACION EN TODO CHAPAS Y CERRADURAS
              </h2>
              <p class="text-base text-gray-500 font-light">
                Aprovecha esta oportunidad única para renovar tu seguridad a
                precios inigualables. ¡Visítanos ya y asegura tus productos
                antes de que se acaben!
              </p>
            </div>
            <GeneralCtaProps
              colortext1="Comprar"
              colortext2="Ahora"
              href="/productos"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row gap-6 lg:px-0 px-4">
      <div class="w-full lg:w-3/5 min-h-full bg-white rounded-xl p-4">
        <div class="flex flex-row max-w-full h-auto justify-start">
          <TooltipProduct />
        </div>
        <div class="flex flex-col text-black gap-3">
          <div>
            <h2 class="text-xl font-semibold oswald uppercase pt-3">
              nueva coleccion con 20% de decuento
            </h2>
            <p class="text-gray-500">
              ¡Descubre las últimas tendencias y dale un toque fresco a tu
              estilo con nuestra nueva colección! <br /> Aprovecha un 20% de descuento
              en toda la línea.
            </p>
          </div>
          <GeneralCtaProps
            colortext1="ver toda la"
            colortext2="coleccion con descuentos"
            href="/productos"
          />
        </div>
      </div>
      <div
        class="w-full lg:w-2/5 min-h-full bg-yellow-500 rounded-xl flex flex-col justify-center items-center p-3 lg:p-6 gap-2"
      >
        <div class="text-black flex flex-row w-full justify-between">
          <div>
            <span class="oswald text-lg lg:text-2xl"
              >Fabricantes Numero #1 en</span
            >
            <h2 class="text-5xl uppercase oswald font-semibold">
              Cajas Fuertes
            </h2>
          </div>
          <div>
            <Image
              width="100"
              height="100"
              decoding="async"
              loading="lazy"
              src="/firmafbs.svg"
              alt="fabrinsa-firma"
              class="w-24 lg:w-20 right-24 top-0 hover:scale-105 transition-all duration-300 ease-linear cursor-pointer"
            />
          </div>
        </div>
        <div
          class="h-full aspect-video lg:aspect-wide w-full bg-center rounded-lg overflow-hidden"
        >
          <Image
            width="500"
            height="500"
            decoding="async"
            loading="lazy"
            src="/fabcajas.png"
            alt="fabcajas"
            class="w-full h-full object-cover hover:scale-110 transition-all duration-300 ease-linear cursor-pointer"
          />
        </div>

        <GeneralCtaProps
          colortext1="contacta con un"
          colortext2="asesor especializado"
          href="tel:+51978820017"
        />
      </div>
    </div>
  </div>
</section>
