---
import LogoSlider from "../Carousels/Sliders/ClientLogos/LogoSlider";
---

<div class="container mx-auto flex flex-col items-center justify-center mb-12">
  <p class="text-2xl font-normal uppercase oswald my-2">
    Clientes que Confian en Nosotros
  </p>
  <div class="block w-full">
    <LogoSlider client:visible />
  </div>
</div>
