---

---

<section>
  <div class="flex flex-col justify-center items-center gap-3 py-24">
    <h2 class="text-5xl text-center uppercase font-semibold">
      Contáctanos para una Consulta <span class="text-[#EBBC2A]">Gratuita</span>
    </h2>
    <p class="w-full lg:w-[40%] text-center">
      Contáctanos y obtén una consulta gratuita para resolver todas tus dudas y
      recibir asesoramiento experto sin compromiso. ¡Estamos aquí para ayudarte!
    </p>
    <a
      href="tel:+51978820017"
      class="text-white bg-black uppercase oswald font-semibold rounded-md py-3 px-6 w-fit text-center text-base hover:bg-[#EBBC2A] hover:text-black group duration-300 transition-all ease-linear"
      rel="noopener noreferrer"
    >
      Llamanos
      <span class="text-[#EBBC2A] group-hover:text-black"> Ahora</span>
    </a>
    <div
      class="flex flex-col lg:flex-row gap-4 items-center justify-center font-medium"
    >
      o llámanos a este número
      <a href="tel:+51978820017">
        <div
          class="flex items-center justify-center antonio gap-3 text-2xl hover:border-[1px] hover:border-black transition-all duration-500 p-3 rounded-lg oswald font-bold"
        >
          <img src="/call.svg" alt="" class="w-8 h-auto" />
          <p>978 820 017</p>
        </div>
      </a>
    </div>
  </div>
</section>
