---
import { MdSecurity, MdEngineering } from "react-icons/md";
---

<div class="flex flex-col gap-4">
    <h3 class="text-xl font-bold mb-2">Nuestros Servicios</h3>
    <ul class="flex flex-col gap-3">
        <li class="flex items-center gap-2 text-gray-400">
            <MdSecurity className="text-[#EBBC2A]" />
            <span>Apertura de Cajas Fuertes</span>
        </li>
        <li class="flex items-center gap-2 text-gray-400">
            <MdEngineering className="text-[#EBBC2A]" />
            <span>Reparación de Cajas Fuertes</span>
        </li>
        <li class="flex items-center gap-2 text-gray-400">
            <MdSecurity className="text-[#EBBC2A]" />
            <span>Traslado de Cajas Fuertes</span>
        </li>
        <li class="flex items-center gap-2 text-gray-400">
            <MdEngineering className="text-[#EBBC2A]" />
            <span>Instalación de Cajas Fuertes</span>
        </li>
    </ul>
</div>
