---

---

<a
  href="tel:+51978820017"
  class="text-white bg-black uppercase oswald font-semibold rounded-md py-3 px-6 w-fit text-center text-base hover:bg-[#EBBC2A] hover:text-black group duration-300 transition-all ease-linear"
  rel="noopener noreferrer"
>
  Llamanos
  <span class="text-[#EBBC2A] group-hover:text-black"> Ahora </span>
</a>
