---

---

<div
  class="bg-gradient-to-r from-black to-[#EBBC2A] py-6 container mx-auto flex flex-col lg:flex-row justify-center items-center gap-3 rounded-xl text-white"
>
  <div class="flex items-center justify-center">
    <img
      src="/firmafbs.svg"
      alt="fabrinsa-firma"
      class="w-24 right-24 top-0 hover:scale-105 transition-all duration-300 ease-linear cursor-pointer"
    />
  </div>
  <div class="text-left p-4 lg:p-0">
    <h2 class="lg:text-3xl text-2xl uppercase font-bold text-left">
      OBTEN UN DESCUENTO ESPECIAL ahora mismo
    </h2>
    <p class="text-lg text-left">
      Descuento valido solo a través de contacto directo con Call Center
    </p>
  </div>
  <div class="mx-8 w-fit">
    <a
      href="/productos"
      class="text-white bg-black uppercase oswald font-semibold rounded-md py-3 px-6 w-full text-center text-base hover:bg-[#EBBC2A] hover:text-black group duration-300 transition-all ease-linear"
      rel="noopener noreferrer"
    >
      Comprar
      <span class="text-[#EBBC2A] group-hover:text-black"> Ahora</span>
    </a>
  </div>
</div>
